header {
  background: #e65100;
  color: white;
  height: 56px;
  display: flex;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

h1 {
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
